body{
    background-image: url("Group\ 8.png");
}
/* 
.image-logo {
    margin: 20px;
    padding: 20px;
}

.objects{
    margin: 20px;
}

/* .objects img{
    max-width: 100%;
    height: auto;
} */

/* .objects p {
    font-family: Arial, Helvetica, sans-serif;
    color:  white;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.header p{
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 5%;
}

.header span{
    color: green;
} */